body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
  margin: 0;
}

.screen-size {
  position: absolute;
  z-index: 100;
  pointer-events: none;
  height: 1in;
  width: 1in;
}